<footer th:fragment="footer" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
	<p class="col-md-4 mb-0 text-muted">Copyright &copy; 2021</p>
	
	
	<a class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
		<img src="/images/storeLogo.png" width="30" alt="" class="bi me-2">
	</a>
	
	<ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Dash</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Quiénes somos</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">MinTIC</a></li>
    </ul>
</footer>