<nav th:fragment="header" class="navbar navbar-expand navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="/images/storeLogo.png" width="30" alt="" class="d-inline-block align-text-top">
			<span class="Header-brand">Tienda</span>
		</a>
		
		<ul class="Header-nav navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<a class="nav-link" href="#">Usuarios</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Clientes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Proveedores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Ventas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Productos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Reportes</a>
			</li>
		</ul>
		<form th:action="@{/}" class="form-inline my-2 my-lg-0">
			<span class="navbar-text mr-sm-2" style="padding: 0 12px;">Hola, <b>[[${logUser.getNombre_usuario}]]</b></span>
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerrar sesión</button>
		</form>
	</div>
</nav>