<nav th:fragment="header" class="navbar navbar-expand navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="/images/storeLogo.png" width="30" alt="" class="d-inline-block align-text-top">
			<span class="Header-brand">Tienda</span>
		</a>
		
		<ul class="Header-nav navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item" role="presentation">
				<a class="nav-link active" href="/dash" id="usuarios-tab">Usuarios</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" href="/dash/clientes" id="clientes-tab">Clientes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Proveedores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Ventas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Productos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Reportes</a>
			</li>
		</ul>
		<form th:action="@{/logout}" class="form-inline my-2 my-lg-0">
			<span class="navbar-text mr-sm-2" style="padding: 0 12px;">Hola, <span>[[${#request.remoteUser}]]</span></span>
			<button class="btn btn-primary my-2 my-sm-0" type="submit">Cerrar sesión</button>
		</form>
	</div>
</nav>