<section th:fragment="moduloUsuarios">
	<div class="container-fluid">
	
		<div>
			<h1>Usuarios</h1>
		</div>
		
		<div>
			<table class="table ">
				<thead>
					<tr>
						<th scope="col">#</th>
					      <th scope="col">Cédula</th>
					      <th scope="col">Nombre</th>
					      <th scope="col">Correo</th>
					      <th scope="col">Usuario</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${listUsers}">
						<td th:text="${user.id}">User ID</td>
						<td th:text="${user.cedula_usuario}">Cedula</td>
						<td th:text="${user.nombre_usuario}">Nombre</td>
						<td th:text="${user.email_usuario}">Correo</td>
						<td th:text="${user.usuario}">Usuario</td>
					</tr>				
				</tbody>
			</table>
		</div>
	</div>
</section>

