<section th:fragment="moduloClientes">
	<div class="container-fluid">
		<div>
			<h1>Clientes</h1>
		</div>
		
		<div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
					      <th scope="col">Cédula</th>
					      <th scope="col">Nombre</th>
					      <th scope="col">Correo</th>
					      <th scope="col">Dirección</th>
					      <th scope="col">Teléfono</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="client: ${listClients}">
						<td th:text="${client.id}">Client ID</td>
						<td th:text="${client.cedula}">Cedula</td>
						<td th:text="${client.nombre}">Nombre</td>
						<td th:text="${client.email}">Correo</td>
						<td th:text="${client.direccion}">Direccion</td>
						<td th:text="${client.telefono}">Telefono</td>
					</tr>				
				</tbody>
			</table>
		</div>
	</div>
</section>