<section th:fragment="moduloProductos">
	<div class="container-fluid mt-4">
		<div class="row">
			<div class="col">
				<h1 class="d-inline-block">Productos</h1>
			</div>	
		</div>
		
		<div class="mt-3">
		  	<label for="formFile" class="form-label">Subida de archivo con lista de productos</label>
		  	<div class="row">
		  		<div class="col-5">
		  			<input class="form-control" type="file" id="formFile">
		  		</div>
		  		<div class="col-auto">
		  			<button type="submit" class="btn btn-primary">Cargar archivo</button>
		  		</div>    		
    		</div>
    		<div id="fileHelp" class="form-text">Debe ser un (1) solo archivo en formato CSV.</div>
		</div>
	</div>
</section>