<section th:fragment="moduloProductos">
	<div class="container-fluid mt-4">
		<div class="row">
			<div class="col">
				<h1 class="d-inline-block">Productos</h1>
			</div>	
		</div>
		
		<div class="mt-3">
			<div id="missingFileAlertPlaceholder"></div>
			<form class="form-horizontal" role="form" method="POST" action="/productos/upload" enctype="multipart/form-data">
			  	<label for="formFile" class="form-label">Subida de archivo con lista de productos</label>
			  	<div class="row">
			  		<div class="col-5">
			  			<input class="form-control" type="file" id="formFile" name="file" accept=".csv" required>
			  		</div>
			  		<div class="col-auto">
			  			<button type="submit" class="btn btn-primary" id="loadFileBtn" th:attr="onclick=|alert('Tienes que seleccionar un archivo para subir', 'danger')|">Cargar archivo</button>
			  			<input type="reset" class="btn btn-danger" value="Reiniciar" />
			  		</div>    		
	    		</div>
	    		<div id="fileHelp" class="form-text">Debe ser un (1) solo archivo en formato CSV.</div>
	    	</form>
	    	<a href="/documents/productos.csv" download="productos.csv">Descargar modelo de ejemplo</a>
		</div>
	</div>
</section>