<section th:fragment="moduloUsuarios">
	<div class="container-fluid mt-4">
		<div class="row">
			<div class="col">
				<h1 class="d-inline-block">Usuarios</h1>
				<button type="button" class="d-inline-block btn btn-outline-primary btn-sm mx-3 mb-3" data-bs-toggle="modal" data-bs-target="#agregarUsuarioModal">Añadir un usuario</button>	
			</div>
			
			<div class="col-3" style="align-self: center">
				<form class="d-flex">
			        <input class="form-control form-control-sm me-2" list="cedulasList" id="cedulasSearchList" name="qC" type="search" placeholder="Buscar por cédula" aria-label="Default select">
			       	<datalist id="cedulasList">
			        	<option th:each="user: ${listUsers}" th:value="${user.cedula_usuario}">
			       	</datalist>
			        <button class="btn btn-outline-primary btn-sm" type="submit">Buscar</button>
			      </form>
			</div>
		</div>
		
		<div class="tableWrap">
			<table class="table table-hover table-responsive">
				<thead>
					<tr class="table-light">
						<th scope="col"></th>
						<th scope="col">#</th>
					    <th scope="col">C&eacute;dula</th>
					    <th scope="col">Nombre</th>
					    <th scope="col">Correo</th>
					    <th scope="col">Usuario</th>
					    <th scope="col"></th>
					    <th scope="col"></th>
					</tr>
				</thead>
				<tbody class="overflow-auto">
					<tr th:each="user: ${listUsers}">
						<td><input class="form-check-input" type="checkbox" value="" id="" style="vertical-align: middle;"></td>
						<td th:text="${user.id}" style="vertical-align: middle;">User ID</td>
						<td th:text="${user.cedula_usuario}" style="vertical-align: middle;">Cedula</td>
						<td th:text="${user.nombre_usuario}" style="vertical-align: middle;">Nombre</td>
						<td th:text="${user.email_usuario}" style="vertical-align: middle;">Correo</td>
						<td th:text="${user.usuario}" style="vertical-align: middle;">Usuario</td>
						<td><button type="button" class="btn btn-outline-success btn-sm" th:attr="onclick=|editar('${user.id}', '${user.cedula_usuario}', '${user.nombre_usuario}', '${user.email_usuario}', '${user.usuario}', '${user.password}')|" data-bs-toggle="modal" data-bs-target="#modificarUsuarioModal">Modificar</button></td>
						<td><button type="button" class="btn btn-outline-danger btn-sm delete-btn" th:attr="onclick=|eliminar('${user.id}')|" >Eliminar</button></td>
					</tr>				
				</tbody>
			</table>
			<!-- <button type="button" class="d-inline-block btn btn-danger btn-sm mx-3 mt-1" disabled>Eliminar seleccionados</button>  -->
			<a th:if="${param.qC}" th:href="@{/dash}"><button type="button" class="d-inline-block btn btn-light btn-sm mx-3 mt-1">Restablecer búsqueda</button></a>
		</div>
	</div>
</section>

<div th:fragment="moduloAgregarUsuarios" class="modal fade" id="agregarUsuarioModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
		
		  <!-- Modal Header -->
	      <div class="modal-header">
	      	<i class="fas fa-user me-2"></i>
	        <h5 class="modal-title" id="agregarUsuarioModalLabel">Añadir un usuario</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      
	      
	      <!-- Modal Body -->
	      <div class="modal-body">
	        <form th:action="@{/process_register}" th:object="${user}" method="post" id="addUserForm" style="max-width: 700px; margin: 0 auto;">
		        <div class="m-3">
		        <div class="row">
		            
		            
		            <div class="form-group col">
		                <label class="col-form-label">Username: </label>
		                <input type="text" th:field="*{usuario}" class="form-control"
		                            required minlength="2" maxlength="20"/>
		            </div>
		             
		            <div class="form-group col">
		                <div class="mb-3">
		                	<label class="col-form-label">Password: </label>
		                    <input type="password" th:field="*{password}" class="form-control"
		                            required minlength="6" maxlength="20"/>
		                </div>
		            </div>
		         </div>
		         
		         <div class="row">
		         	<div class="form-group col">
		                <div class="mb-3">
		                	<label class="col-form-label">E-mail: </label>
		                    <input type="email" th:field="*{email_usuario}" class="form-control" required />
		                </div>
		            </div>		         
		         </div>
		         
		         <div class="row">
		            <div class="form-group col">
		                	<label class="col-form-label">Nombre completo: </label>
		                    <input type="text" th:field="*{nombre_usuario}" class="form-control"
		                            required minlength="2" maxlength="32" />
		            </div>
		            
		            <div class="form-group col">
		            
		                	<label class="col-form-label">Cédula: </label>
		                    <input type="text" th:field="*{cedula_usuario}" class="form-control"
		                            required minlength="2" maxlength="20" />
		            </div>
		          </div>
		        </div>
		        
		        <input type="submit" id="submit-form" class="hidden" style="display: none"/>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
	        <label for="submit-form" class="btn btn-primary">Agregar usuario</label>
	      </div>
	    </div>
	</div>
</div>


<div th:fragment="moduloModificarUsuarios" class="modal fade" id="modificarUsuarioModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modificarUsuarioModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
		
		  <!-- Modal Header -->
	      <div class="modal-header">
	      	<i class="fas fa-user me-2"></i>
	        <h5 class="modal-title" id="modificarUsuarioModalLabel">Modificar un usuario</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      
	      
	      <!-- Modal Body -->
	      <div class="modal-body">
	        <form id="modifyUserForm" style="max-width: 700px; margin: 0 auto;">
	        	<input type="hidden" id="id" name="id">
		        <div class="m-3">
		        <div class="row">		        	
		            <div class="form-group col">
		                <label class="col-form-label" for="nombre_usuario">Username: </label>
		                <input type="text" id="usuario2" name="usuario" class="form-control"
		                            required minlength="2" maxlength="20"/>
		            </div>
		             
		            <div class="form-group col">
		                <div class="mb-3">
		                	<label class="col-form-label" for="password">Password: </label>
		                    <input type="password" id="password2" name="password" class="form-control"
		                            required minlength="6" maxlength="20" disabled placeholder="*******"/>
		                </div>
		            </div>
		         </div>
		         
		         <div class="row">
		         	<div class="form-group col">
		                <div class="mb-3">
		                	<label class="col-form-label" for="email_usuario">E-mail: </label>
		                    <input type="email" id="email_usuario2" name="email_usuario" class="form-control" required/>
		                </div>
		            </div>		         
		         </div>
		         
		         <div class="row">
		            <div class="form-group col">
		               	<label class="col-form-label" for="nombre_usuario">Nombre completo: </label>
		                <input type="text" class="form-control" id="nombre_usuario2" name="nombre_usuario"
		                       required minlength="2" maxlength="32" />
		            </div>
		            
		            <div class="form-group col">
		                <label class="col-form-label" for="cedula_usuario2">Cédula: </label>
		                <input type="text" id="cedula_usuario2" class="form-control"
		                            required minlength="2" maxlength="20" />
		            </div>
		          </div>
		        </div>
		        
		        <input type="submit" id="submit-modifyForm" class="hidden" style="display: none"/>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
	        <label for="submit-modifyForm" class="btn btn-primary">Modificar usuario</label>
	      </div>
	    </div>
	</div>
</div>

<div th:fragment="notificacionEliminar" class="position-fixed bottom-0 end-0 p-3" style="z-index: 99">
  <div id="deleteToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Se ha eliminado un usuario</strong>
      <small>hace un momento</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Un usuario ha sido eliminado satisfactoriamente.
    </div>
  </div>
</div>


